@charset "UTF-8";

/* Desktop */
@media screen and (min-width: 1201px) {
    body {

        background: url('../images/background.jpg') no-repeat top center / cover;
    }

    body > h1 {
        background-color: white;
        color: black;
        width: 500px;
        position: absolute;
        top: calc(15% - 30px);
        left: 90px;
        border-radius: 10px 10px 0px 0px;
    }

    div.cards {
        position: absolute;
        width: 1000px;
        height: 450px;
        top: 15%;
        left: 100px;
    }

    div.cards > img {
        width: 100px;
        height: 120px;
    }

    p.credit {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}