@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #2365a6;
    height: 100vh;
}

body > h1 {
    color: white;
    text-align: center;
    margin: 10px;
}

.restart-game {
  display: none;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.restart-btn {
  font-size: 1.1em;
  background-color: #fff;
  width:  100px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.restart-btn:hover {
  background-color: #000;
  color: #fff;
}

p.credit {
    background-color: black;
    color: white;
    width: 375px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

p.credit > a {
    color: #399cff;
    text-decoration: none;
}
